@using Atlas.Shared.Infrastructure.Razor.Views.Emails.ResetPasswordEmail;
@using Atlas.Shared.Infrastructure.Razor.Views.Shared.Button;
@model ResetPasswordEmailViewModel;

@{
    ViewData["EmailTitle"] = "Reset Password for Atlas";
}

<p>
    Hi @Model.UserName, we received a request to reset your Atlas password. Click the button below to reset your password.
</p>

<br />

@await Html.PartialAsync("~/Views/Shared/Button/EmailButton.cshtml", new EmailButtonViewModel("Reset Password", Model.Url))

<br />

<p>
    This email will expire in 30 minutes. If you did not request this email, it is possible that someone else is
    trying to use your email to sign up for our service. <b>Do not forward this email to anyone.</b>
</p>

